@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300;400;700&family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;0,600;0,900;1,700&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

:root {
/* FONTS */
    --font-titles: 'Montserrat', sans-serif;
    --font-li: 'Comic Neue', cursive;

    /* COLORS */
    --color-primary: #188ed3;
    --color-secondary: #6ea9ec;
    --color-positive: #FFF;
    --color-soft: rgb(179, 179, 179);
    --color-hilight: #ffffe6;
    --color-error: #ff4d4d;
    --color-transparent: rgb(255, 255, 255, .6);
    --color-check: #009999;
}

.wrapper {
    background: radial-gradient(circle at bottom, var(--color-secondary) , var(--color-primary));
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
    width: 100vw;
    
}

.section-stars {
    display: flex;
    flex-direction: column;
}

.section-stars__content-title {
    font-family: var(--font-titles);
    font-size: 50px;
    font-weight: 300;
    left: 0;
    margin-top: -60px;
    padding-left: 10px;
    position: absolute;
    right: 0;
    text-align: center;
    text-transform: uppercase;
    top: 50%;
}
.section-stars__content-title--title {
    color: var(--color-soft);
}
  

  
.section-stars__content-follow {
    bottom: 7%;
    color: var(--color-soft);
    cursor: pointer;
    font-family: var(--font-titles);
    font-size: 22px;
    font-weight: 300;
    left: 0;
    margin-top: -60px;
    padding-left: 10px;
    position: absolute;
    right: 0;
    text-align: center;
    transition: all ease-in-out .5s;
}

.section-stars__content-follow:hover {
    transform: scale(1.2);
}

  /* SECTION 2 */
  
.section-to-do {
    align-self: center;
    background-color: var(--color-transparent);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin-top: 10rem;
    position: absolute;
    transition: all ease-in-out .4s;
    max-width: 800px;
    z-index: 2;
}

.section-to-do__title {
    color: var(--color-primary);
    font-family: var(--font-titles);
    font-size: 28px;
    font-weight: 300;
    line-height: 1.4em;
    padding: 2.5rem 2rem 0 2rem;
    text-align: center;
}

.section-to-do__input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid var(--color-primary);
    height: 24px;
    margin: 2rem 1rem 0 12rem;
    width: 200px;
  
}

.section-to-do__input::placeholder {
    padding-left: .25rem ;
    color: var(--color-soft);
    font-style: italic;
}

.section-to-do__btn {
    background-color: var(--color-secondary);
    border: none;
    border-radius: 5px;
    color: var(--color-positive);
    cursor: pointer;
    font-size: 14px;
    padding: 6px 12px;
    transition: ease-in-out .4s;
}

.section-to-do__btn:hover {
    transform: scale(1.1);

}

.section-to-do__list {
    display: flex;
    flex-direction: column;
    align-items: space-around;
    font-family: var(--font-li);
    font-size: 20px;
    margin: 2rem 7rem;
}

.section-to-do__list li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: var(--color-primary);
    padding-bottom: 1.4em;   
}

.section-to-do__list div {
    display: flex;
    flex-direction: row;
}

.section-to-do__list div a{
    align-items: center;
    background: var(--color-positive);
    border: 1px solid var(--color-error);
    border-radius: 4px;
    color: var(--color-primary);
    display: flex;
    font-family: var(--font-titles);
    font-size: 14px;
    font-weight: bold;
    height: 22px;
    justify-content: center;
    margin-left: 2em;
    text-decoration: none;  
    width: 17px;
}

.section-to-do__list div input[type="checkbox"] {
    position: relative;
    margin-left: 2em;
    top: 7px;
    

}

.section-to-do__list div input[type="checkbox"]:before {
    background: var(--color-positive);
	border: 1px solid var(--color-secondary);
    border-radius: 4px;
    content: "";
    height: 22px;
    position: absolute;
    top: -10px;
	width: 17px;
}

.section-to-do__list div input[type="checkbox"]:checked:before {
    border-color: var(--color-check);
}

.section-to-do__list div input[type="checkbox"]:checked:after {
    content: "";
    width: 9px;
    height: 3px;
    border: 4px solid var(--color-check);
    position: absolute;
    border-right: 0;
    top: -3px;
    right: -4px;
    border-top: 0;
    transform: rotate(-55deg);
}

.hide {
   
    opacity: 0;   
    transition: all ease-in-out .4s;
    transform: scale(.5) translateY(-200px);
    visibility: hidden;
}

.completed {
    text-decoration: line-through;
}

.section-to-do__content-msg {
    font-family: var(--font-titles);
    opacity: 0;
    position: absolute;
    transform: translate(76px, -300px);
    transition: all ease-in-out .4s;
    visibility: hidden;
}

.show-msg {
    background-color: var(--color-error);
    color: var(--color-positive);
    border-radius: 5px;
    font-family: var(--font-titles);
    opacity: 1;
    padding: 12px 28px 12px 12px;
    position: absolute;
    transform: translate(376px, -76px);
    transition: all ease-in-out .4s;
    visibility: visible;
}

.section-to-do__content-msg--close{
	position: absolute;
	right: 6px;
	top: 4px;
	font-weight: bold;
	cursor: pointer;
	transition: all .5s;
}

@media (max-width: 994px)  {
    .show-msg {
        transform: translate(276px, -76px);
    }
}

@media (max-width: 950px) {
    .section-to-do__input {
        margin: 2rem 2rem 0 12rem;
        width: 180px;
    }

    .section-to-do__list { 
        margin: 2rem 4rem;
        width: 430px;
        align-self: center;
        font-size: 18px;
    }
}

@media (max-width: 860px)  {
    .show-msg {
        transform: translate(176px, -76px);
    }
}

@media (max-width: 810px) {
    .section-to-do {
        width: 65vw;
    }
    .section-to-do__title {
        font-size: 22px;
    }

    .section-to-do__input {
        margin: 2rem 2rem 0 7rem;
        width: 150px;
    }

    .section-to-do__list {
        margin: 2rem 4rem;
        width: 330px;
    }
    .show-msg {
        transform: translate(106px, -76px);
    }
    
}

@media (max-width: 645px) {
    .section-to-do__input {
        margin: 2rem 1rem 0 5rem;
        width: 150px;
    }

    .section-to-do__btn {
        font-size: 12px;
        padding: 4px 10px;
    }
}

@media (max-width: 600px) {
    .section-stars__content-title {
        font-size: 40px;
        margin-top: -30px;
        padding-left: 0;
    }

    .section-stars__content-follow {
        font-size: 18px;
        padding-left: 0;
    }

    .section-to-do {
        margin-top: 5rem;
        width: 80vw;
    }

    .show-msg {
        transform: translate(2px, -62px);
    }
}
@media (max-width: 450px) {
    .section-to-do__list {
        width: 215px;
        font-size: 16px;
        margin: 2rem 2rem;
    }
}

@media (max-width: 400px) {
    .section-to-do__input {
        margin: 2rem 1.5rem 0 1.5rem;
    }
}

@media (max-width: 365px) {
    .section-to-do {
        width: 95vw;
    }
    .section-to-do__input {
        margin: 2rem 1rem 0 2rem;
       
    }
}